# 🔐 Ansible secrets
iac/ansible/secrets/
!iac/ansible/secrets/README.md

# 🔐 Terraform state & lock files
iac/terraform/.terraform/
iac/terraform/.terraform.lock.hcl
iac/terraform/terraform.tfstate*
!iac/terraform/README.md

# 🔐 Python & env
src/**/.env
.env

# 🗃 Dữ liệu raw
src/law_data/
legal_documents-*.snapshot

*.snapshot

# 💡 (Optional) Ignore IDE, OS-specific
.vscode/
.idea/
.DS_Store

# 💥 Python bytecode cache
*.__pycache__/
*.py[cod]

# 🍎 macOS system file
.DS_Store
